body {
  margin: 0;
  padding: 0;
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("ilandsound3.jpg");
  background-size: cover; 
  background-position: center center;  
  background-repeat: no-repeat; 
  filter: grayscale(100%);  
}  
.hero-content {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 3px;
}
.hero-button {
  background: linear-gradient(to right, #2d38af, #4788ef);
  color: white;
  border: 1px solid rgb(4, 6, 73);
  border-radius: 10px;
  margin-top: 5 rem;
  padding: 0.5rem 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;  
}
 

/* Add styles to the form container */
.container {
  height: 100%;
  box-align: center;
  text-align: center;   
  color: #000000;
  background-color: 0;
  padding: 30px;  
  align-content: center;
  }

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 5px 0 22px 0;
  border: 1px solid black;
  background-color: 0;
  opacity: 0.2;  
}

/* If clicked on the input field */
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  background-color: 0;
}

/* Set a style for the submit button */
.btn {
  background-color: #616167;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.6;
}
.btn:hover {
  opacity: 0.8;
}